.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: #fff;
    padding-bottom: 30px;
}

.header{
display: flex;
flex-direction: column;
align-items: center;
gap: 9px;
width: 100%;
margin-top: 30px;
}

.underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;

}

.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}



