/* FriendRequests.css */
.friend-requests-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #1c1c1c; /* Dark background */
}

.friend-request-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #2a2a2a; /* Slightly lighter dark background */
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.friend-request-card:hover {
  background-color: #333; /* Darker background on hover */
}

.friend-request-username {
  font-size: 16px;
  color: var(--primary); /* Primary color (Blue) */
}

  